body {
  height: 100vh;
  background-color: #fcfcfc;
  background-image: url('https://www.transparenttextures.com/patterns/back-pattern.png');
  font-family: 'Saira Extra Condensed', sans-serif;
  margin: 0.5rem;
  /* background: linear-gradient(
    to right,
    rgb(255, 249, 250) 0%,
    rgb(255, 249, 250) 50%,
    rgb(233, 247, 255) 50%,
    rgb(226, 244, 255) 100%
  ); */
}
.greeting {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.greet {
  display: flex;
  align-items: center;
}

.profile-pic {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  display: grid;
  justify-content: left;
}

.contact-list {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
  font-size: 30px;
}

.contact-area {
  display: flex;
  justify-content: center;
}

.footer-icons {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.section-heading {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.projects {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  margin-bottom: 3rem;
}
.projectss {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  margin-bottom: 3rem;
}

.photos {
  border-radius: 3%;
  height: 200px;
  display: flex;
  justify-content: left;
  width: 300px;
}

.about {
  margin-bottom: 3rem;
  font-size: 1.8rem;
  margin-left: 5rem;
  margin-right: 5rem;
  height: 100vh;
}

.nav {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.nav div a {
  text-decoration: none;
  color: rgb(95, 95, 95);
  font-weight: 900;
}

.site {
  width: 100%;
  height: 100vh;
  display: flexbox;
  justify-content: center;
}

.skillz {
  display: flex;
  justify-content: center;
}

.skill {
  font-size: 30px;
  color: #999999;
}

.info {
  color: #999999;
  font-size: 20px;
}
