body {
  height: 100vh;

  background-color: #fcfcfc;
  background-image: url('https://www.transparenttextures.com/patterns/back-pattern.png');
  font-family: 'Saira Extra Condensed', sans-serif;
  margin: 0.5rem;
  /* background: linear-gradient(
    to right,
    rgb(29, 74, 100) 0%,
    rgb(29, 74, 100) 50%,
    rgb(29, 74, 100) 50%,
    rgb(23, 65, 90) 100%
  ); */
}

@media screen and (max-width: 500px) {
  .p {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    /* margin-top: 200px; */
  }
  .t {
    margin-top: 40px;
  }
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 40px;
  }
  .projectss {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about {
    /* width: 100vw; */
    align-items: center;
    display: none;
    /* margin-bottom: 100px; */
    /* margin-left: none;
    margin-right: none; */
    /* height: 100vh; */
  }
  .paragraph {
    color: #999999;
    margin-top: none;
  }

  .section-heading {
    width: 100vw;
  }
  .contact-area {
    display: flex;
    justify-content: space-around;
    flex-direction: column-reverse;
    /* margin-top: none; */
    width: 50%;
    /* flex-direction: row; */
    /* align-items: center; */
  }
  .contact-area ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: red;
    font-size: 20px;
    /* align-items: center; */
  }
  .footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* width: 100vw; */
    /* align-items: center; */
  }
  .site {
    align-items: center;
    /* width: 100vw; */
    height: 100vh;
  }
  body {
    /* width: 100vw; */
    /* height: 100vh; */
    min-width: 0%;
    min-height: 0%;
    margin: 0%;
  }
  .contact img {
    display: none;
  }
  .navi {
    font-size: 20px;
    position: fixed;
    height: none;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    color: #999999;
  }
  .greeting {
    /* display: flex;
    justify-content: center; */
    font-size: 15px;
    /* margin-top: 30px; */
  }
  .name {
    display: none;
    font-size: 30px;
    margin-bottom: 100px;
  }
  .skillz {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
  }

  .skill {
    font-size: 20px;
    color: #999999;
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
  }
  .profile-pic img {
    display: none;
    height: 0%;
    width: 0%;
    /* justify-content: center; */
  }
}

.greeting {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.name {
  margin-top: 50px;
}

.paragraph {
  color: #999999;
  margin-top: 50px;
}

.greet {
  display: flex;
  align-items: center;
}

.profile-pic {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  display: grid;
  justify-content: left;
}

.contact-list {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
  font-size: 20px;
  color: #999999;
}

.contact-area {
  display: flex;
  justify-content: center;
}

.footer-icons {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.footer-iconss {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.section-heading {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.projects {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  /* margin-bottom: 3rem; */
}
.projectss {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  /* margin-bottom: 3rem; */
}

.photos {
  border-radius: 3%;
  height: 200px;
  display: flex;
  justify-content: left;
  width: 300px;
}

.about {
  margin-bottom: 3rem;
  font-size: 1.8rem;
  margin-left: 5rem;
  margin-right: 5rem;
  height: 100vh;
}

.nav {
  font-size: 20px;
  position: fixed;
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  margin-top: 10px;
  margin-left: 10px;
  color: #999999;
}
.nav div a {
  text-decoration: none;
  color: rgb(95, 95, 95);
  font-weight: 900;
}

.site {
  width: 100%;
  height: 100vh;
  display: flexbox;
  justify-content: center;
}

.skillz {
  display: flex;
  justify-content: center;
}

.skill {
  font-size: 30px;
  color: #999999;
}

.info {
  color: #999999;
  font-size: 20px;
}
.t {
  margin-top: 100px;
}
